<ion-view>
	<ion-content>
		<ion-slide-box class="start-slide" on-slide-changed="slideHasChanged($index)" show-pager="true">
		  <ion-slide class="start-slide">
				<div class="title-box">
					<h1 class="title center-text"><span>Let's Start With</span><br><span>Your Interests.</span></h1>
					<h4 class="center-text">Tap a few things that you like.</h4>
				</div>
				<div class="slider-slide">
					<div class="start-slide-body">
						<div class="select-box box-inline padding-horizontal all-caps"  ng-repeat="category in categories" ng-click="addPref(category)" ng-class="{'active': wact(category)}" >
							<div category-box class="category-box"></div>
						</div>
					</div>
				</div>
		  </ion-slide>
		  <ion-slide class="start-slide">
				<div class="title-box">
					<h1 class="title center-text"><span>Now Let's Talk</span><br><span>About You.</span></h1>
					<h4 class="center-text">Which of these best describes you?</h4>
				</div>
				<div class="slider-slide">
					<div class="start-slide-body">
						<div class="select-box padding all-caps"  ng-class="{'active':act('1')}"  ng-click="addGroup('K-12 Student',1)">K-12 Student<i class="icon ion-plus padding-left theme-color float-right" ></i></div>
						<div class="select-box padding-horizontal  all-caps"  ng-class="{'active':act('2')}"ng-click="addGroup('College Student',2)" >College Student<i class="icon ion-plus padding-left theme-color float-right "></i></div>
						<div class="select-box padding-horizontal all-caps"  ng-class="{'active':act('3')}"ng-click="addGroup('Exhibitor',3)">Exhibitor<i class="icon ion-plus padding-left theme-color float-right" ></i></div>
						<div class="select-box padding-horizontal all-caps"  ng-class="{'active':act('4')}"ng-click="addGroup('Parent',4)" >Parent<i class="icon ion-plus padding-left theme-color float-right" ></i></div>
						<div class="select-box padding-horizontal all-caps"  ng-class="{'active':act('5')}"ng-click="addGroup('Parent With Child',5)">Parent With Child<i class="icon ion-plus padding-left theme-color float-right" ></i></div>
						<div class="select-box padding-horizontal all-caps"  ng-class="{'active':act('6')}"ng-click="addGroup('Employer',6)">Employer<i class="icon ion-plus padding-left theme-color float-right" ></i></div>
						<div class="select-box padding-horizontal all-caps"  ng-class="{'active':act('7')}"ng-click="addGroup('Professor',7)">Professor<i class="icon ion-plus padding-left theme-color float-right" ></i></div>
						<div class="user-field">
							<h6 class="center-text">What should we call you?</h6>
							<div class="input-line padding-horizontal">
								<input type="text" name="username" ng-model="params.myParameter" placeholder="Nickname" style="background-color:#F2F2F2; font-size:24px; font-weight:bold; color:#9EA7B3; font-family: 'Lato', sans-serif;">
							</div>
						</div>
					</div>
				</div>
		  </ion-slide>
		  <ion-slide class="start-slide">
				<div class="title-box">
					<h1 class="title center-text"><span>We Need Permission To</span><br><span>Access Bluetooth.</span></h1>
					<h4 class="center-text"><span>This let's your phone communicate</span><br><span>with the bluetooth sensors that are</span><br><span>the backbone of our app.</span></h4>
				</div>
				<div class="slider-slide">
					<div class="start-slide-body">
						<div class="padding start-access-box">
							<img src="../icons/interaction/settings.png" class="padding start-access-icon">
							<h6 class="padding start-access-text">Open the iOS Settings App</h6>
						</div>
						<div class="padding start-access-box">
							<img src="../icons/interaction/bluetooth.png" class="padding start-access-icon">
							<h6 class="padding start-access-text">Tap Bluetooth</h6>
						</div>
						<div class="padding start-access-box">
							<img src="../icons/interaction/toggle.png" class="padding start-access-icon">
							<h6 class="padding start-access-text">Toggle Bluetooth On</h6></div>
						<button class="button start-button padding col-offset-25" ng-click="signIn()">Start Exploring</button>
					</div>
				</div>
		  </ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>
