<ion-view view-title="Map" map-view-size>
	<ion-content class="map-content">
		<style type="text/css">
			#snap {
				width:60px;
				height:60px;

				background:#DEDEDE;
				position:absolute;
				top:0;
				left:0;
				font-size:50px;
				border: 1px solid #000;
				top:20px;
			}

			#plus {
				top:80px;
			}

			#snap {
				top:10px;
				left:10px;
				color:#ff0000;
			}
		</style>
		<canvas width="{{viewWidth}}" height="{{viewHeight}}"  detect-gestures gesture-type="hold" id="map-container">Canvas not loaded...</canvas>
<!--      TODO: make this a directive-->
		<button onclick="app.main.snap()" id="snap">R</button>

		<script src="js/map/hammer.js"></script>
		<script src="libs/jquery/jquery.js"></script>
		<script src="libs/evothings/evothings.js"></script>
		<script src="js/map/app.js"></script>
		<script src="js/map/utils.js"></script>

		<script src="js/main.js"></script>
		<script src="js/map/drawLib.js"></script>
		<script src="js/map/user.js"></script>
		<script src="js/map/exhibit.js"></script>
	</ion-content>
</ion-view>
