<ion-view view-title="Search">
  <ion-content class="padding">
		<div ui-view>
			<div search-bar></div>
			<div class="card row">
					<div class="col col-50 text-center">Top Rated</div>
					<div class="col col-50 text-center">Popular</div>
			</div>
			<p class="center-text">Explore</p>
			<ion-list>
					<ion-item href="#/tab/search/{{category}}" ng-repeat="category in categories" class="card">
							<div category-tile>
							</div>
					</ion-item>
			</ion-list>
		</div>
  </ion-content>
</ion-view>