<ion-view view-title="Home" class="home-view">
	<ion-content class="padding">
<!--
		<label class="item-input-wrapper search">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Search">
		</label>
-->
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <h4><input type="text" placeholder="Search"></h4>
          </label>
        </div>
		<h6 class="center-text all-caps">Suggestions for you</h6>
        <div exb-list></div>
        <p class="center-text">Suggested Searches</p>
        <ion-list class="category-list">
            <ion-item href="#/tab/home/category/{{category}}" ng-repeat="category in categories" class="card">
                <div category-tile>
                </div>
            </ion-item>
        </ion-list>
	</ion-content>
</ion-view>
