<ion-view view-title="Home" class="home-view">
	<ion-content class="padding">
<!--
		<label class="item-input-wrapper search">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Search">
		</label>
-->
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
          </label>
        </div>
		<p class="center-text">Suggestions for you</p>
        <div exb-list></div>
        <p class="center-text">Suggested Searches</p>
        <ion-list>
            <ion-item href="#/tab/search/category/{{category}}" ng-repeat="category in categories" class="card">
                <div class="item">
                    {{category}}
                </div>
            </ion-item>
        </ion-list>
	</ion-content>
</ion-view>
