<ion-view view-title="Map" map-view-size>
	<ion-content class="map-content">
		<style type="text/css">
			#snap {
				width:60px;
				height:60px;

				background:#DEDEDE;
				position:absolute;
				top:0;
				left:0;
				font-size:50px;
				border: 1px solid #000;
				top:20px;
			}

			#plus {
				top:80px;
			}

			#snap {
				top:10px;
				left:10px;
				color:#ff0000;
			}
		</style>
		
<!--      TODO: make this a directive-->
		<iframe width="{{viewWidth}}" height="{{viewHeight}}" src="../canvasmap/index.html" scrolling="no"/>
		

		
	</ion-content>
</ion-view>
