<ion-view view-title="Settings">
	<ion-content>
		<h6 class="text-center">Profile</h6>
		<ion-list>
			<ion-item>
				<p>Nickname</p>
				<p>{{nickname}}</p>
			</ion-item>
			<ion-item>
				<p>Role</p>
				<p>{{userRole}}</p>
			</ion-item>
			<ion-item>
				<p>Interests</p>
				<p>
					<span ng-repeat="interest in interests">{{interest}} {{$last ? '' : ($index==interests.length-1) ? '' : ', '}} </span>
				</p>
			</ion-item>
			<ion-item class="item-divider text-center">
				<h2>Notifications</h2>
			</ion-item>
			<ion-toggle ng-model="settings.enablePush">
				Send Push Notifications
			</ion-toggle>
			<ion-item class="item-divider text-center">
				Support
			</ion-item>
			<ion-item class="item-icon-right" ng-click="viewStatement()">
				<span>Privacy & Security</span>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
