<ion-view view-title="Privacy & Security">
	<ion-content class="padding">
		<p>The Espy team takes privacy seriously. No one will ever see your personal location data but you.</p>
		<p>In our heatmaps, we use location data to show where our users are in the conference, but there’s nothing to tie a specific person to a specific place.</p>
		<p>At our exhibit, you can see the exhibits that you’ve visited, but we’ve designed our exhibit so that your personal details aren’t displayed for anyone to see.</p>
	</ion-content>
</ion-view>