<ion-view view-title="Home" class="home-view">
	<ion-content class="padding">
		<div search-bar></div>
		<h6 class="center-text all-caps">Suggestions for you</h6>
        <div exb-list></div>
        <p class="center-text">Suggested Searches</p>
        <ion-list class="category-list">
            <ion-item href="#/tab/home/category/{{category}}" ng-repeat="category in categories" class="card">
                <div category-tile>
                </div>
            </ion-item>
        </ion-list>
	</ion-content>
</ion-view>
