.pane {
    background-color: lightgray;
}

.center-text {
    text-align: center;
}

.search input {
    width: 100%;
}

.exhibit-container {
    text-align: center;
}

.exhibit-img {
    max-width: 100px;
}

.exhibit-queue-icon i{
    font-size: 30px;
}

.queue-empty {
    padding-top: 35vh;
}
